@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



@using (Html.BeginForm("UpdateService", "Service", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hizmet Ekleme Sayfası</h4>
                @Html.HiddenFor(x => x.ServiceID)
                <br />
                @Html.Label("Başlık")
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                <br />
                @Html.Label("Görsel Yolu")
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                <br />

                <button class="btn btn-success">Güncelle</button>
            </div>
        </div>
    </div>

}

