@model EntityLayer.Concrete.Testimonial
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateTestimonial", "Testimonial", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Referans Düzenleme Sayfası</h4>

                <form class="forms-sample">
                    <div class="form-group">
                        <label>ID</label>
                        @Html.TextBoxFor(x => x.TestimonialID, new { @class = "form-control", @readonly = "readonly"})


                    </div>
                    <div class="form-group">
                        <label>Müşteri Adı</label>
                        @Html.TextBoxFor(x => x.ClientName, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Şirket Adı</label>
                        @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Şirket Adı</label>
                        @Html.TextAreaFor(x => x.Comment,10,3, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Görsel Yolu</label>
                        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    

                </form>
            </div>
        </div>
    </div>

}


