@using EntityLayer.Concrete
@model List<Announcement>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@{
    string color = "";

}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Duyurular</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>TÜR</th>
                            <th>TARİH</th>
                            <th>BAŞLIK</th>
                            
                            <th>DETAYLAR</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if(item.Status.Equals("Yeni Yazı"))
                            {
                                color = "badge badge-danger";
                            }
                            else if(item.Status.Equals("Yeni Video"))
                            {
                                color = "badge badge-primary";
                            }
                            else if (item.Status.Equals("Yeni Etkinlik"))
                            {
                                color = "badge badge-info";
                            }
                            else if (item.Status.Equals("Workshop"))
                            {
                                color = "badge badge-success";
                            }
                            <tr>
                                <td>@item.ID</td>
                                <td><label class="@color">@item.Status</label></td>
                                <td>@(((DateTime)item.Date).ToString("dd-MM-yyyy"))</td>
                                <td>@item.Title</td>
                                
                                <td><a href="/Writer/Default/AnnouncementDetails/@item.ID" class="btn btn-primary btn-sm">Detaylar</a></td>
                                
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



